{% extends 'base.html' %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row-form-errors">{{ form.non_field_errors }}</div>

                        {% for f in form %}
                            <p><label class="mb-2 mx-2" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }} {{ f.help_text }}
                            </p>
                            <div>{{ f.errors }}</div>
                        {% endfor %}

                        <a type="submit" class="btn btn-lg btn-block btn-outline-warning" href="javascript:history.go(-1)">Назад</a>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-warning" name="button_buy"
                                value="{{ product.pk }}">Сохранить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}