{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-3">
        {% for product in products %}
            <div class="col">
                <div class="card h-100">
                    {% if product.photo %}
                        <img src="{{ product.photo.url }}" class="card-img-top object-fit-cover" height="180">
                    {% else %}
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
                             xmlns="http://www.w3.org/2000/svg" role="img"
                             aria-label="Placeholder: Заглушка изображения"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#868e96"></rect>
                            <text x="25%" y="50%" fill="#dee2e6" dy=".3em">Заглушка изображения</text>
                        </svg>
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">
                            {% for desc in product.description|list_breaks %}
                                <li>{{ desc }}</li>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="mt-auto mb-3 mx-3">
                        <a href="{{ product.get_absolute_url }}"
                           class="btn btn-lg btn-block btn-outline-warning w-100 mt-auto" form="selected_product">Смотреть</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Категория: <a
                                href="{{ product.category.get_absolute_url }}"
                                class="text-warning">{{ product.category }}</a></small><br>
                        <small class="text-body-secondary">Обновлено: {{ product.time_update|date:'d-m-Y H:i:s' }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Пример навигации по страницам" class="mt-4 sticky-bottom border-top pt-4 pb-3" style="backdrop-filter: blur(5px); background-color: rgba(33, 37, 41, 0.85)">
        <ul class="pagination justify-content-center">
        {% if products.has_previous %}
            <li class="page-item ">
                <a class="page-link text-warning" href="?page={{ products.previous_page_number }}">Предыдущая</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Предыдущая</a>
            </li>
        {% endif %}

            {% for p in products.paginator.page_range %}
            <li class="page-item"><a class="page-link {% if products.number == p %} text-bg-warning {% else %} text-warning-emphasis {% endif %}" href="?page={{ p }}">{{ p }}</a></li>
            {% endfor %}

        {% if products.has_next %}
            <li class="page-item">
                <a class="page-link text-warning" href="?page={{ products.next_page_number }}">Следующая</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Следующая</a>
            </li>
        {% endif %}
        </ul>
    </nav>

{% endblock %}